/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer tout le contenu horizontalement */
    justify-content: center; /* Centrer tout le contenu verticalement */
    min-height: 100vh;
    margin: 0 auto;          /* Centre l'élément horizontalement */

}

h1 {
    color: #333;
    margin-bottom: 2%; /* Changement de margin-bottom en pourcentage */
    font-size: 4vh; 

    text-align: center;
}

img {
    position: absolute;  /* Permet de positionner l'image de manière absolue */
    top: 0;              /* La place en haut de la page */
    right: 0;            /* La place à droite de la page */
    width: 8%;          /* Largeur de l'image en pourcentage (modifiable) */
    height: auto;        /* Garde les proportions de l'image */
    margin: 1%;          /* Marge pour éviter qu'elle ne touche le bord de la page */
}

.accueilDiv{
    justify-content: flex-start;
    align-items: left; /* Centrer tout le contenu horizontalement */
    width: 100%;          /* Largeur de l'image en pourcentage (modifiable) */

}

.accueil {
        /* La place à droite de la page */
    width: 80px;          /* Largeur de l'image en pourcentage (modifiable) */
    height: auto;        /* Garde les proportions de l'image */
    margin: 1%;
    margin-left: 2%;
    padding: 10px ;      /* Réduit les marges intérieures */
    text-align: center;
    color: white;
    border-color: #0c0c0c;
    border-radius: 5%;  
    background-color: #8ea0a0; /* Bleu clair */
}

.accueil:hover{
    background-color: #1e7da6; /* Bleu légèrement plus foncé */
}


/* Promotion and UE Layout */
.Promotion, .UE, .matiere {
    width: 100%; /* Limiter la largeur des sections à 100% */
    max-width: 550px; /* Limiter la largeur maximale pour les grandes écrans */
    margin-top: 6%; /* Changement de margin-bottom en pourcentage */
}

.nom_Promotion{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 50px;

}

/* Matière Info */
.matiere_info {
    display: flex;
    justify-content: space-between; /* Séparer le nom de la matière et le pourcentage */
    align-items: center; /* Alignement vertical centré */
    margin-bottom: 2%; /* Changement de margin-bottom en pourcentage */
}

.nom_matiere {
    margin-left: 2%; /* Changement en pourcentage */
    font-style: italic;
    text-decoration: underline;
    background-color: #3498db; /* Bleu clair */
    color: white;
    padding: 1%; /* Changement en pourcentage */
    flex: 1; /* Prend tout l'espace restant */
}

.poid {
    font-size: 0.8rem; /* Remplace 12px par une taille relative */
    margin-left: 0%; /* Changement en pourcentage */
    text-align: right; /* Alignement à droite */
    width: 18%; /* Taille du champ pourcentage */
}

/* Layout for Note and Coefficient */
.note_coef {
    display: grid;

    grid-template-columns: 1fr 15%; /* Deux colonnes : une pour la note, une pour le coefficient */
    grid-gap: 2%; /* Espacement entre les colonnes en pourcentage */
    align-items: center; /* Aligner verticalement les éléments */
    width: 100%;
    margin-bottom: 2%; /* Changement de margin-bottom en pourcentage */
}

/* Input Fields */

input {
    padding: 4%; /* Changement en pourcentage */
    font-size: 1rem; /* Remplace 14px par une taille relative */
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

input.note {
    width: 100%; /* Prend toute la largeur disponible dans la grille */
}


input.coef {
    width: 100%; /* Largeur fixe pour les coefficients, en pourcentage */
    padding: 21%; /* Changement en pourcentage */
    font-size: 1rem; /* Remplace 14px par une taille relative */
    border-radius: 5px;
    background-color: #d9f0fc; /* Bleu clair pour le fond */
    border: 1px solid #2c3e50; /* Bleu foncé pour la bordure */
    font-weight: bold;
    
}
/* Dropdown Menu Styles */
.dropdown {
    margin-top: 10px;
    width : 60%;
    position: relative;
    display: inline-block;
    
}

.dropdown-button {
    
    background-color: #43517d; /* Bleu clair */
    color: white;
    padding: 4%; /* Changement en pourcentage */
    font-size: 1rem; /* Remplace 16px par une taille relative */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%; /* Ajustement en pourcentage */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2%; /* Changement en pourcentage */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

/* Alignement du titre de l'UE et de la flèche */
.nom_UE-container {
    display: flex;
    align-items: center; /* Centrer verticalement la flèche et le texte */
    justify-content: flex-start;
    padding: 0%; /* Changement en pourcentage */
    
    margin-bottom: 5%; /* Changement de margin-bottom en pourcentage */
}

.nom_UE {
    font-size: 1.25rem; /* Remplace 20px par une taille relative */
    color: #1e47a6; /* Bleu clair */
    font-weight: bold; /* Texte en gras */
    margin-right: 2%; /* Changement en pourcentage */
    text-align: left; /* Aligner à gauche */
}

/* Flèche (toggle-button) à côté du texte */
.toggle-button {
    background-color: #ab9b9b2e;
    border: none;
    cursor: pointer;
    font-size: 0.625rem; /* Remplace 10px par une taille relative */
    border-radius: 30%; /* Arrondit les coins du bouton pour en faire un cercle */
    transform: rotate(0deg); /* Par défaut, flèche droite */
    transition: transform 0.3s ease-in-out;
    width: 3vh; /* Ajustement en pourcentage */
    height: 3vh; /* Ajustement en pourcentage */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.toggle-button:hover {
    background-color: rgba(167, 167, 167, 0.445); /* Change la couleur au survol */
}

/* Flèche vers le bas lorsque la section est déroulée */
.toggle-button.rotated {
    transform: rotate(90deg);
}

/* Masquer la matière par défaut */
.block {
    display: none;
}

.block.show {
    display: block;
}

button {
    padding: 1%; /* Changement en pourcentage */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Remplace 16px par une taille relative */
    width: 100%;
    max-width: 100%; /* Limite la largeur du bouton en pourcentage */
    margin-top: 1%; /* Changement en pourcentage */
}

.aditional_div{
    display: flex;
    justify-content: center;    
}

.aditional_button{
    padding: 10px ;      /* Réduit les marges intérieures */
    height: auto;
    border-color: #0c0c0c;
    border-radius: 25%;
    background-color: #cdcfd5; /* Bleu clair */
    font-size: 16px;
    width: 10%; 
    justify-content: center;

}
/* General Button Styles */
.aditional_button:hover {
    background-color: #88898b;
}

.boutonCalcul, .clear {
    background-color: #3498db; /* Bleu clair */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10%;
}

.boutonCalcul:hover, .dropdown-button:hover, .clear:hover {
    background-color: #1e47a6; /* Bleu légèrement plus foncé */
}

.dropdown-item{
    background-color: white; /* Bleu clair */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 20px;

    
}
.dropdown-item:hover {
    background-color: #a4aab9; /* Bleu légèrement plus foncé */
}


/* Styles for the Results */
.resultat_matiere {
    font-size: 1rem; /* Remplace 14px par une taille relative */
    color: #555; 
    font-weight: bolder;
    margin-top: 2%; /* Changement en pourcentage */
    display: block;
}

.resultat_UE {
    font-size: 1rem; /* Remplace 15px par une taille relative */
    color: #1E90FF; 
    font-weight: bold; 
    background-color: #f0f8ff; 
    padding: 2%; /* Changement en pourcentage */
    border-radius: 5px;
    margin-top: 2%; /* Changement en pourcentage */
    display: block;
    text-align: center;
}

p {
    font-size: 1.125rem; /* Remplace 18px par une taille relative */
    color: #333;
    margin-top: 3%; /* Changement en pourcentage */
    text-align: center;
}