body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer tout le contenu horizontalement */
    justify-content: center; /* Centrer tout le contenu verticalement */
    min-height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.nom_UE {
    font-size: 24px;   /* Taille du texte plus grande */
    color: rgb(21, 126, 49);       /* Texte coloré en bleu */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 10px; /* Espacement en dessous de l'UE */
    text-align: center; /* Centrer le texte de l'UE */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Promotion, .UE, .matiere {
    width: 100%;
    max-width: 400px; /* Limiter la largeur des sections */
    margin-bottom: 20px;
}

.matiere-info {
    display: flex;
    align-items: center; /* Alignement vertical centré */
    margin-bottom: 10px;
}

.nom_matiere {
    margin-left: 10px;
    font-style: italic;
    text-decoration: underline;
    background-color: rgb(123, 203, 123);
    color: white;
    padding: 2px 5px;
}

.poid {
    margin-left: 10px;
    width: 60px; /* Taille du champ poid */
}

.note_coef {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

input.coef {
    width: 60px; /* Taille des coefficients */
    margin-left: 10px;
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

/* Style du menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}
